body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}





/* Header and top navigation */

header {
    background-color: #096fd4;  
    color: #fff;  
    padding: 20px 0;  
    text-align: center;  
}

.company-name {
    font-size: 24px;
}

.nav-bar {
    text-align: center;
    width: 100%;
    padding: 10px 0;  
    position: sticky;
    top: 0;
    background-color: #e6e6e6;  
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar ul {
    list-style-type: none;
    padding: 0;
}

.nav-bar ul li {
    display: inline-block;
    margin-right: 60px;
}

.nav-bar ul li:last-child {
    margin-right: 0;
}

.nav-bar a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #4b9ff3;
}

.menu-burger {
    display: none;
}





/* Top Image Slider */

.slider {
    position: relative;
    display: inline-block;
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: rgb(0, 0, 0);
}

.slides {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    position: relative;
    max-height: 100%;
    max-width: 100%;
}

.slider img {
    display: none;
}

img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}

.slider button {
    position: absolute;
    font-size: 2rem;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.315);
    color: white;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}





/* Sections */
section {
    padding: 50px 0;  
}

.section-header {
    text-align: center;  
    font-weight: bold;
    font-size: 2rem;  
    color: #096fd4;  
    margin-bottom: 30px;  
    text-transform: uppercase;  
}





/* ABOUT US */

#about {
    background-color: #e5e5e5;  
}

#about .section-content {
    max-width: 800px;  
    margin: 0 auto;  
    padding: 0 20px;  
    line-height: 1.6;  
    color: #666;  
}

#about .section-content p {
    margin-bottom: 20px;  
}





/* SERVICES */
#services {
    background-color: #c9c9c9;  
    padding: 50px 0;
}

#services .section-content {
    max-width: 800px;  
    margin: 0 auto;  
    padding: 0 20px;  
    line-height: 1.6;  
    color: #535252;  
    text-align: left;  
}

#services .service-subheading {
    font-weight: bold;
    font-size: 1.2rem;  
    margin-top: 20px;  
    color: #333;  
}

#services p {
    margin-top: 0;
}





/* GALLERY */

#gallery {
    background-color: #e5e5e5;
}

.gallery-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.main-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-image img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.thumbnail-carousel {
    margin-top: 20px;
    position: relative;
}

.thumbnail-images {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    height: 100%;
    width: auto;
}

.thumbnail-images img {
    width: 100px;
    height: auto;
    scroll-snap-align: center;
    cursor: pointer;
}





/* CONTACT US */
#contact {
    background-color: #c9c9c9;  
    padding: 50px 0;
}

#contact .section-header {
    text-align: center;  
    font-size: 2rem;  
    margin-bottom: 30px;  
    text-transform: uppercase;  
}

#contact .section-content {
    max-width: 800px;  
    margin: 0 auto;  
    padding: 0 20px;  
    line-height: 1.6;  
    color: #535252;  
}

.contact-info {
    display: flex;
    justify-content: center;
}

.contact-detail {
    margin: 0 20px;
    text-align: center;
    padding: 0px 20px;
}

.contact-detail h3 {
    font-size: 1.2rem;  
    margin-bottom: 10px;  
}





/* REVIEWS */
#reviews {
    padding: 50px 0;  
    background-color: #e5e5e5;  
}

#reviews .section-header {
    text-align: center;  
    font-size: 2rem;  
    margin-bottom: 30px;  
    text-transform: uppercase;  
}

#reviews .section-content {
    max-width: 800px;  
    margin: 0 auto;  
    padding: 0 20px;  
    line-height: 1.6;  
    color: #666;  
}

#reviews {
    padding: 50px 0;  
    background-color: #e5e5e5;  
}

#reviews .section-header {
    text-align: center;  
    font-size: 2rem;  
    margin-bottom: 30px;  
    text-transform: uppercase;  
}

#reviews .section-content {
    max-width: 800px;  
    margin: 0 auto;  
    padding: 0 20px;  
    line-height: 1.6;  
    color: #666;  
}

.review {
    margin-bottom: 30px;  
}

.review-header {
    margin-bottom: 10px;  
}

.review-info h3 {
    margin: 0;  
    color: #333;  
}

.review-info p {
    margin: 0;  
    color: #888;  
}

.review-text {
    font-style: italic;  
}





/* FOOTER */
footer {
    background-color: #333;  
    color: #fff;  
    padding: 20px 0;  
    text-align: center;  
}

.footer-content {
    max-width: 800px;  
    margin: 0 auto;  
}

.footer-content p {
    margin: 0;  
}

