/* Header and top navigation */

.nav-bar {
    text-align: left;
    padding-left: 5px;
    width: 100%;
}

.nav-bar ul {
    display: none;
    text-align: left;
    align-items: center;
    justify-content: left;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */

}

.menu-burger {
    display: inline;
    color: #096fd4;
}

.nav-bar ul li {
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
    justify-content: left;
}


/* Style for contact details */
.contact-info {
    display: block;
}

.contact-detail {
    padding: 0;
    margin: 0;
    text-align: center;
}