/* Modal container */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    right: 50%;
    transform: translate(-50%, 50%);
    width: fit-content;
    height: fit-content;
}

.modal-content {
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin: 10px 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.notification {
    color: red;
}

.form-group {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    justify-self:end;
}


.submit-btn {
    margin-top: 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;

}
